.menu{
	display:flex;
	text-align:center;
	width:100%;
	height: 80px;
	background-color:$nav;
	margin-top:0px;
}
.menu__item{
	display:inline-block;
	font-size:20px;
	padding:15px;
	padding-left:40px;
	color:white;
	margin-top:5px;
}
.menu__img{
	width:60px;
	margin-top:-13px;
	margin-left:300px;
	border-radius:50px;
	border: 2px solid $blanco;

}

.menu__item__link{
	color:$blanco;
	cursor:pointer;
	text-decoration:none;
	font-size:15px;
	&:hover{
		color:$azulito;
		padding:20px;
	}

}

.botonuno{
	background-color:$azulito;
	color:$blanco;
	border-radius:20px;
	border:transparent;
	width:100px;
	height:40px;
	cursor:pointer;
		&:hover{
		background-color:$verde;
	}
}

.dos{
	background-color:$azulito;
	margin-top:-20px;
	height:550px;
	width:103%;
	
}
.dos__mini{
	border-radius:50%;
	width:200px;
	height:200px;
	background-color:$blanco;
	text-align:center;
	margin-left:300px;
	position:absolute;
	margin-top:40px;
	align-content:center;
		&:hover{
		background-color:$nav;
	}

}
.dos__mini--hdos{
	color:$azulito;
	position: absolute;
	margin-top:70px;
	margin-left:60px;
	font-size:40px;
		&:hover{
		color:$verde;
	}
}

.dos__text{
	margin-left:550px;
	position:absolute;
	margin-top:10px;
	align-content:center;

}
.dos__text--huno{
	color:$verde;
	font-size:40px;
}

.dos__text--htres{
	color:$blanco;
	font-size:23px;
	margin-top:-20px;


}
.dos__text--p{
	color:$blanco;
	font-size:17px;
	margin-right:400px;

}
.dos__text--boton2{
	background-color:$verde;
	color:$blanco;
	border-radius:40px;
	border:transparent;
	width:230px;
	height:60px;
	cursor:pointer;
	font-size:20px;
	margin-top:20px;
		&:hover{
		background-color:$nav;
	}
}

.dos__redes{
	text-align:center;
	margin-left:500px;
	position:absolute;
	margin-top:400px;
	align-content:center;
	img{
		width:40px;
		padding:10px;
	}

}

.tres{
	background-color:$verde;
	margin-top:-60px;
	width:103%;
	height:900px;
}

.tres__texto--huno{
	margin-left:600px;
	font-size:40px;
	position: absolute;
	
}

.tres__trabajos{
	margin-left:180px;
	position:absolute;
	margin-top:100px;
	img{
		width:40%;
		height:30%;
		padding:20px;
		border-radius:10%;
		&:hover{
		background-color:$azulito;
		border-radius:10px;
	}
	}
}

.pie{
	background-color:$azulito;
	margin-top:-30px;
	width:103%;
	height:50px;
}
.pie__uno{
	position: absolute;
	color:$blanco;
	margin-left:600px;
	&:hover{
		color:$nav;
	}	
}